* {
  font-family: "Seville-Bold";
}

#background-top {
  fill: #1c0113;
}

#background-bottom {
  fill: #c21a01;
}

.excercise-control-button {
  fill: #c21a01;
  width: 149;
  height: 130;
}

.label {
  font-size: 16;
  font-weight: regular;
  fill: #ffffff;
}

.title {
  font-size: 22;
  width: 212;
  fill: #ffffff;
  text-anchor: middle;
}

#adjust-weight-txt {
  font-size: 70;
  fill: #ffffff;
  text-anchor: middle;
}

.value {
  font-size: 50;
  width: 150;
  fill: #ffffff;
  text-anchor: middle;
}

.cross-line {
  fill: #770403;
  stroke-width: 1;
}

.tile-list-item {
  height: 88;
  fill: #c21a01;
}

.tile-list-item text {
  font-family: System-Regular;
  fill: "white";
}

.tile-divider-bottom {
  x: 0;
  y: 100%-2;
  width: 100%;
  height: 1;
  fill: #5a4343;
}

#log-bg {
  fill: #5a4343;
}

.primary-rectangle {
  fill: #c21a01;
}
